# Introduction to Scitkit-Learn (sklearn)
This notebook demonstrates some of the most useful functions of the Scikit-Learn library.

What is covered:
    
0. An end-to-end Scikit-Learn workflow
1. Getting the data ready
2. Choose the right estimator/algorithm for the problem
3. Fit the model/algorithm and use it to make predictions on the data
4. Model evaluation
5. Model improvement
6. Save and load the trained model
7. Put it all together

In [2]:
import numpy as np

## 0. An end-to-end Scikit-Learn workflow

In [3]:
# 1. Get the data ready
import pandas as pd
heart_disease = pd.read_csv('heart-disease.csv')
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [4]:
# Create X (feature matrix)
X = heart_disease.drop('target', axis=1)
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [7]:
# Create y (labels)
y = heart_disease['target']
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [68]:
# 2. Choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

# Keep the default hyperparameters
clf.get_params() # return hyperparameters

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [10]:
from sklearn.model_selection import train_test_split

In [35]:
# Illustrating how train_test_split works:
# Make a small X and y dataset
Xs, ys = np.arange(10).reshape(5,2), np.array(range(5))
Xs, ys

(array([[0, 1],
        [2, 3],
        [4, 5],
        [6, 7],
        [8, 9]]),
 array([0, 1, 2, 3, 4]))

In [69]:
# Split the data
Xs_train, Xs_test, ys_train, ys_test = train_test_split(Xs, ys, test_size=0.33)
Xs_train, Xs_test, ys_train, ys_test

(array([[2, 3],
        [0, 1],
        [4, 5]]),
 array([[8, 9],
        [6, 7]]),
 array([1, 0, 2]),
 array([4, 3]))

In [71]:
# 3. Fit the model to the training data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [72]:
clf.fit(X_train, y_train)

RandomForestClassifier()

In [50]:
# Shape of dataset
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((242, 13), (61, 13), (242,), (61,))

In [79]:
# Make a prediction on a random dataset (requires same number of columns as X, rows can be anything - they are equivalent to sampels)
X_random = np.random.rand(242, 13)
y_label = clf.predict(X_random)

In [64]:
y_label.shape

(550,)

In [75]:
# Get prediction on actual test dataset
y_preds = clf.predict(X_test)
y_preds

array([0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1,
       0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0])

In [56]:
y_test

59     1
243    0
221    0
35     1
212    0
      ..
131    1
44     1
80     1
112    1
194    0
Name: target, Length: 61, dtype: int64

In [77]:
# 4. Evaluate the model on training and test data
clf.score(X_train, y_train)

1.0

In [76]:
# Test data
clf.score(X_test, y_test)

0.7868852459016393

In [82]:
# Use random features data and use y_train as true label
clf.score(X_random, y_train)

0.4834710743801653

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score